<a href="https://colab.research.google.com/github/ZPavlo/ML_projects/blob/master/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest Lesson

In this tutorial, I want to understand how to use the random forest in practical tasks. The base of this lesson will be the [project](https://github.com/WillKoehrsen/Data-Analysis/tree/master/random_forest_explained).

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')
PATH = "/content/gdrive/My Drive"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import os 
import numpy as np
import pandas as pd

In [17]:
data_path = os.path.join(PATH, "datasets/RF/temps.csv")

features = pd.read_csv(data_path)
features.head(5)

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [19]:
features = pd.get_dummies(features).head(5)
features

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]